img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

body { 
    margin: 30px 0 20px;
}

.wrapper {
    margin: auto;
    width: 70%;
    padding: 10px;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-image: url('./images/ts_favicon_alt.png');
    background-size: cover;
}

.logo:hover {
    background-image: url('./images/ts_favicon_alt_hover.png');
}

#nav {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 10px;
    margin: 35px 10px 15px;
    text-align: center;
}

.tab, .link {
    display: inline-block;
    text-align: center;
    padding: 0 5px;
    font-family: 'Overpass', sans-serif;
    /* color: darkgoldenrod !important; */
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.tab:hover {
    font-weight: bold;
}

.link:hover {
    color: white !important;
    background-color: black !important;
}

a {
    color: grey !important;
}

a:hover {
    color: black !important;
}

.active {
    color: black !important;
}

h6 {
    font-family: 'Overpass', sans-serif;
    text-align: center;
    font-size: 12px;
}

ul {
    font-family: 'Overpass', sans-serif;
    line-height: 30px;
}

li {
    margin: 0 40px;
}

.indicator {
    display: none;
}

p {
    font-family: 'Overpass', sans-serif;
    line-height: 26px;
    color: grey !important;
}

.divider {
    border-bottom: 1px solid grey;
    margin: 35px 10px 15px;
}

#back-top {
    display: block;
    width: 3%;
    position: fixed;
    bottom: 100px;
    margin-left: 1150px;
}

#back-top span {
    transition: 0.5s;
    opacity: 0.55;
}
#back-top span:hover {
    opacity: 1;
}

/* Work_______________________________ */
.row {
    margin-top: 20px;
}
.card {
    cursor: pointer;
    box-shadow: none;
    background-color: #ededed;
 }
 
 .card-title {
     display: none;
     top: 5px;
     padding: 20px;
     font-size: 15px !important;
     font-weight: bold !important;
     text-transform: uppercase;
     color: black !important;
 }
 .card-title p {
     text-transform: none; 
 }

 h5 {
     font-size: 20px;
     color: black !important;
 }

 .card:hover .card-title {
     display: block;
 }

 span {
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
}

a.darken {
    /* display: inline-block; */
    background: black;
    padding: 0;
}

a.darken img {
    display: block;
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}

a.darken:hover img {
    opacity: 0;
}

.mock {
    background-color: #eaeaea;
}

/* .mock img {
    width: 80%;
    vertical-align: middle;
    margin: auto;
} */

/* About_______________________________ */

#about {
    margin-top: 50px;
}

.about {
    padding-right: 35px !important;
    margin-bottom: 20px;
}

.about, .experience, .contact {
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-family: 'Overpass', sans-serif;
    font-size: 30px;
}

/* Contact_______________________________ */

#contact {
    font-family: 'Overpass', sans-serif;
    margin: auto;
    margin-top: 50px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    margin: 5px 0 15px 0;
    box-sizing: border-box;
    resize: vertical;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
}

button[type=submit] {
    background-color: #666666;
    color: white !important;
    padding: 12px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    width: 100%;
}

button[type=submit]:hover {
    background-color: black;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    border-bottom: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none;
    border-bottom: 1px solid black !important;
}

.success-message {
    color: grey;
    background-color: #EEEEEE;
    padding: 10px;
}
 
 .error-message {
    color: #f4448f;
    background-color: #f7dfe9;
    padding: 10px;
}

.success-message, .error-message {
    margin: 15px 0;
    -moz-border-radius: 4px;
    border-radius: 2px;
    display: none;
 }

/* Media Queries_____________________________ */

@media only screen and (max-width: 400px) {
    .wrapper {
        width: 100%;
    }

    h1 {
        font-size: 24px;
    }
    
    h5 {
        font-size: 16px;
    }

    .description-text {
        display: none;
    }
}

@media only screen and (max-width: 750px) {
    .description-text {
        display: none;
    }
}